body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}
.content-section {
  width: 360px;
  box-sizing: border-box;
}
.content-section_theme_dark {
  color: #f5f5f5;
  background-color: #131313;
}
.content-section_theme_bright {
  color: #131313;
  background-color: #fee42a;
}
.header {
  padding: 24px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__logo-image {
  width: 78.453px;
  height: 15.432px;
}
.header__menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style-type: none;
  font-size: 16px;
  line-height: 19.2px;
  font-style: normal;
}
.header__menu-item-link {
  color: rgba(245, 245, 245, 1);
  font-size: 16px;
  line-height: 19.2px;
  font-style: normal;
}
.cover {
  padding: 7px 0 0 21px;
}
.cover__title {
  background: url(/images/cover.svg) no-repeat bottom;
  padding: 0 24px 5px 1px;
  font-size: 72px;
  line-height: 72px;
}
.accent_span {
  display: block;
  font-family: "EB Garamond", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.intro {
  padding: 30px 20px 38px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.intro__heading {
  display: flex;
  justify-content: space-between;
  color: rgba(204, 204, 204, 1);
  font-size: 16px;
  line-height: 19.2px;
  font-style: normal;
}
.intro__title {
  line-height: 19.2px;
  font-style: normal;
}
.intro__date {
  white-space: nowrap;
  font-style: normal;
}
.intro__main-text {
  line-height: 21.6px;
  font-style: normal;
}
.reason {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.content-section__subtitle {
  font-family: "EB Garamond", "Arial", sans-serif;
  font-size: 28px;
  line-height: 32.2px;
  font-style: normal;
  font-weight: 500;
}
.content-section__introduction {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-style: normal;
}
.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  font-style: normal;
}
.content-section__list-item {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.6px;
  flex: 1 0 0;
  font-style: normal;
}
.content-section__list-accent {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.6px;
  font-style: normal;
}
.how-to {
  display: flex;
  flex-direction: column;
  padding: 40px 20px 60px;
  gap: 32px;
}
.card_theme_dark {
  background-color: #343434;
  color: #f5f5f5;
}
.card_theme_bright {
  background-color: #fee42a;
  color: #131313;
}
.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style-type: none;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 30px;
}
.card__author {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__author_photo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
.card__author_name {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.6px;
}
.card__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.card__title {
  font-family: "EB Garamond", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 29.7px;
}
.card__text {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}
.footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid;
  border-color: #fee42a;
}
.footer__copy {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
}
.footer__links {
  display: flex;
  gap: 16px;
}
.footer__links_item {
  text-decoration: none;
  color: #f5f5f5;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
}
